<h1>Today in History</h1>

<h1><%= @articles[0]['pages'][0]['displaytitle'] %></h1><br>
<h3><%= @articles[0]['text'] %></h3><br>

<% if @articles[0]['pages'][0]['originalimage'] %>
    <%= image_tag @articles[0]['pages'][0]['originalimage']['source'], style: "max-height:200px; max-width:200px;" %>
<% end %>

<% @articles[0]['pages'].each do | body | %>
    <%= body['extract_html'].html_safe%>
<% end %>

